#
# Disable automatic EditorConfig style corrections
#

[*]
charset = utf-8
max_line_length = none
trim_trailing_whitespace = false
end_of_line = none
insert_final_newline = none
indent_style = none

[{makefile,Makefile,GNUmakefile,BSDmakefile}]
indent_style = none
[*.{makefile,Makefile,mk,GNUmakefile,BSDmakefile,go,gitmodules}]
indent_style = none
